/*
  Author: Justin Clayton
*/

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* HTML selector rules */
article, header {
  background-color: rgba(194, 204, 201, 0.856);
}

article {
  position: relative;
  padding: 25px;
  border: 3px solid rgba(194, 204, 201, 0.856);
  border-radius: 10px;
}

article:hover {
  top: -5px;
  background-color: rgba(241, 237, 243, 0.945);
  border: 3px solid rgba(248, 246, 218, 0.856);
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  text-align: center;
  color: rgba(34, 40, 128, 0.884);
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

h3, #nav {
  background-color: rgba(34, 40, 128, 0.884);
  color: white;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px;
}

header {
  font-size: 3rem;
  margin: 0;
  padding: 20px;
  background-color: rgba(194, 204, 201, 0.856);
}

main {
  background-image: url('./assets/bg-art.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Class rules */
.card {
  width: 300px;
  height: 420px;
  flex-direction: column;
  text-align: center;
  background-color: rgba(194, 196, 204, 0.856);
}

.card > img {
  width: 300px;
  height: 160px;
}

.card > p {
  padding: 10px;
}

.card > p:nth-child(3) {
  height: 130px;
}

.card > p img, .card > p a {
  vertical-align: middle;
}

.card > p img {
  height: 35px;
  border-radius: 100%;
}

.card-container, .row, #nav {
  display: flex;
  align-items: center;
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ID rules */
#contact > article {
  width: 60%;
  margin: 50px auto;
}
#nav {
  background-color: rgba(34, 40, 128, 0.884);
  list-style: none;
}

#nav li {
  font-size: 1.7rem;
  cursor: pointer;
}

#nav li:hover, #nav li.selected {
  font-size: 2.2rem;
}

#nav li:hover {
  color: chocolate;
}

#nav li.selected {
  color: bisque;
}

#portrait {
  width: 200px;
  border: 5px solid rgba(194, 204, 201, 0.856);
}

/* Mobile */
@media only screen and (max-width: 480px) {
  /* HTML selector rules */
  h1 {
    font-size: 1.9rem;
  }

  header {
    padding: 10px;
  }

  section {
    padding: 20px;
    text-align: center;
  }

  /* Class rules */
  .row {
    flex-wrap: wrap;
  }

  .row > * {
    width: 100%;
    margin-bottom: 20px;
  }

  /* ID rules */
  #nav {
    padding: 20px;
  }

  #nav li {
    margin-right: 20px;
    font-size: 1.3rem;
  }

  #nav li:hover {
    font-size: 1.6rem;
  }

  #nav li.selected {
    font-size: 1.6rem;
  }

  #portrait {
    margin: 20px auto;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /* HTML selector rules */

  /* Class rules */
  .row {
    padding: 25px;
  }

  .row > * {
    margin-right: 25px;
  }

  /* ID rules */
  #nav {
    padding: 20px;
  }

  #nav li {
    margin-right: 50px;
  }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  /* HTML selector rules */
  body {
    display: flex;
  }

  main, #nav {
    height: 100vh;
  }

  main {
    width: 80vw;
  }

  /* Class rules */
  .card-container {
    margin-top: 50px;
  }

  .row {
    padding: 25px 5%;
  }

  .row > * {
    margin-right: 50px;
  }

  /* ID rules */
  #nav {
    width: 20vw;
    flex-direction: column;
  }

  #nav li {
    padding-top: 50px;
  }

  #portrait {
    width: 300px;
  }
}
