/*
  Author: Justin Clayton
*/

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* HTML selector rules */
article, header, #contact {
  background-color: rgba(194, 204, 201, 0.856);
}

article, #contact {
  position: relative;
  padding: 25px;
  border: 3px solid rgba(194, 204, 201, 0.856);
  border-radius: 10px;
}

article:hover, #contact:hover {
  top: -10px;
  background-color: rgba(244, 238, 246, 0.924);
  border: 3px solid rgba(138, 136, 105, 0.897);
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, header {
  text-align: center;
  color: rgba(34, 40, 128, 0.884);
}

h1 {
  font-size: 2.1rem;
  font-weight: 600;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

h3, h4, #nav {
  background-color: rgba(34, 40, 128, 0.884);
  color: white;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px;
}

h4 {
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 5px;
}

header {
  font-size: 3rem;
  margin: 0;
  padding: 5px;
  background-color: rgba(194, 204, 201, 0.856);
}

li, p {
  margin-top: 10px;
  font-size: 1.2rem;
}

main {
  background-image: url('./assets/bg-art.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  padding: 20px;
}

/* Class rules */
.card {
  position: relative;
  width: 300px;
  margin: 10px;
  padding-bottom: 15px;
  flex-direction: column;
  text-align: center;
  background-color: rgba(194, 196, 204, 0.856);
  border: 2px solid rgba(255, 255, 255, 0);
}

.card:hover {
  top: -10px;
  border: 2px solid teal;
}

.card > img {
  width: 300px;
  height: 160px;
}

.card > p {
  padding: 10px;
}

.card > p:nth-child(3) {
  height: 220px;
}

.card > p img, .card > p a {
  vertical-align: middle;
}

.card > p img {
  height: 35px;
  border-radius: 100%;
}

.card .icon-container, .card-container, .row, #nav, #skills > div {
  display: flex;
}

.card .icon-container {
  margin-top: 20px;
  padding: 0 10px;
  height: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card .icon-container > img {
  width: 45px;
  margin: 5px;
}

.card-container, .row, #nav, #skills > div {
  align-items: center;
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ID rules */
#contact {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

#contact > p {
  margin-top: 10px;
  font-size: 1.4rem;
}

#nav {
  background-color: rgba(34, 40, 128, 0.884);
  list-style: none;
}

#nav li {
  font-size: 1.7rem;
  cursor: pointer;
}

#nav li:hover, #nav li.selected {
  font-size: 2.2rem;
}

#nav li:hover {
  color: chocolate;
}

#nav li.selected {
  color: bisque;
}

#portrait {
  width: 200px;
  border: 5px solid rgba(194, 204, 201, 0.856);
}

#warning {
  font-weight: 800;
  color: firebrick;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  /* HTML selector rules */
  h1 {
    font-size: 1.9rem;
  }

  header {
    padding: 10px;
  }

  section {
    padding: 20px;
    text-align: center;
  }

  /* Class rules */
  .row {
    flex-wrap: wrap;
  }

  .row > * {
    width: 100%;
    margin-bottom: 20px;
  }

  /* ID rules */
  #nav {
    padding: 20px;
  }

  #nav li {
    margin-right: 20px;
    font-size: 1.3rem;
  }

  #nav li:hover {
    font-size: 1.6rem;
  }

  #nav li.selected {
    font-size: 1.6rem;
  }

  #portrait {
    margin: 20px auto;
  }
}

/* Tablet */
@media only screen and (max-width: 1023px) {
  /* HTML selector rules */

  /* Class rules */
  .row {
    padding: 25px;
  }

  .row > * {
    margin-right: 25px;
  }

  /* ID rules */
  #nav {
    padding: 20px;
  }

  #nav li {
    margin-right: 50px;
  }
}

/* Very large screens */
@media only screen and (min-width: 1024px) {
  /* HTML selector rules */
  body {
    display: flex;
  }

  main, #nav {
    height: 100vh;
  }

  main {
    width: 85vw;
  }

  /* Class rules */
  .row {
    padding: 15px 0;
    justify-content: space-between;
  }

  .row > * {
    margin-right: 50px;
  }

  /* ID rules */
  #nav {
    width: 15vw;
    flex-direction: column;
  }

  #nav li {
    padding-top: 50px;
  }

  #portrait {
    width: 250px;
  }

  #skills div ul {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
  }
}
